    @font-face {
        font-family: 'FuturaStd-Light';
        src: url('../icons/FuturaStd-Light.eot?#iefix') format('embedded-opentype'), url('../icons/FuturaStd-Light.otf') format('opentype'), url('../icons/FuturaStd-Light.woff') format('woff'), url('../icons/FuturaStd-Light.ttf') format('truetype'), url('../icons/FuturaStd-Light.svg#FuturaStd-Light') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Kronenbourg1664Italic';
        src: url('../icons/Kronenbourg1664Italic.eot?#iefix') format('embedded-opentype'), url('../icons/Kronenbourg1664Italic.otf') format('opentype'), url('../icons/Kronenbourg1664Italic.woff') format('woff'), url('../icons/Kronenbourg1664Italic.ttf') format('truetype'), url('../icons/Kronenbourg1664Italic.svg#Kronenbourg1664Italic') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    body,
    div,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    hr,
    fieldset,
    form,
    label,
    legend,
    th,
    td,
    article,
    aside,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section,
    summary,
    hgroup {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: 'FuturaStd-Light', sans-serif;
    }
    
    h1 {
        font-family: 'Kronenbourg1664Italic';
        color: black;
        text-shadow: -1px 0 #eee, 0 1px black, 1px 0 black, 0 -1px black;
        font-weight: 200;
    }
    
    h5 {
        color: #0b3180;
        text-align: center;
    }
    
    $ a:active,
    a:hover {
        outline: 0;
    }
    
    @-webkit-viewport {
        width: device-width;
    }
    
    @-moz-viewport {
        width: device-width;
    }
    
    @-ms-viewport {
        width: device-width;
    }
    
    @-o-viewport {
        width: device-width;
    }
    
    @viewport {
        width: device-width;
    }
    /* ------------------------------------------
  DEMO STYLES
--------------------------------------------- */
    
    body {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
        color: #37302a;
        background: #fff;
        font: normal 100%/1.4 sans-serif;
    }
    
    h1 {
        margin-bottom: .5em;
    }
    
    p {
        width: 90%;
        margin: 0 auto;
    }
    /* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */
    
    header {
        position: absolute;
        z-index: 3;
        width: 100%;
        left: 0;
        top: 0;
    }
    
    .logo {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        font-weight: bold;
        line-height: 55px;
        padding: 0 20px;
        color: black;
        float: left;
        padding-top: px;
        z-index: 400;
    }
    
    @media screen and (max-width: 1500px) {
        .padding {
            padding-right: 26%;
            padding-left: 26%;
            padding-bottom: 30px;
        }
    }
    
    @media screen and (max-width: 800px) {
        .padding {
            padding-right: 10%;
            padding-left: 10%;
            padding-bottom: 30px;
        }
    }
    
    .button {
        background-color: #eb312c;
        text-align: center;
        padding: 13px;
        border: 0px;
        font-family: 'FuturaStd-Light' !important;
        font-weight: bold;
        color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .button a {
        color: #ffffff;
        display: block;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bolder;
    }
    
    .Aligner-item {
        display: flex;
        align-content: center;
        text-align: center;
    }
    
    html,
    body {
        font-family: 'FuturaStd-Light';
    }
    
    .demo {
        position: relative;
    }
    
    .demo a {
        z-index: 2;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: #fff;
        letter-spacing: .1em;
        text-decoration: none;
        transition: opacity .3s;
    }
    
    .demo a:hover {
        opacity: .5;
    }
    
    #flex-splashContainer a {
        padding-top: 60px;
        margin-top: 30px;
    }
    
    #flex-splashContainer a span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 30px;
        height: 50px;
        margin-left: -15px;
        border: 2px solid transparent;
        border-radius: 50px;
        box-sizing: border-box;
        margin-top: -9px;
    }
    
    #flex-splashContainer a span::before {
        position: absolute;
        top: 10px;
        left: 50%;
        content: '';
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: black;
        border-radius: 100%;
        -webkit-animation: sdb10 2s infinite;
        animation: sdb10 2s infinite;
        box-sizing: border-box;
    }
    
    @-webkit-keyframes sdb10 {
        0% {
            -webkit-transform: translate(0, 0);
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        80% {
            -webkit-transform: translate(0, 20px);
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    
    @keyframes sdb10 {
        0% {
            transform: translate(0, 0);
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        80% {
            transform: translate(0, 20px);
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    
    #thanks div {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    /*-----------------------
----- Basic Styles -----
-------------------------*/
    
    a:hover,
    a:focus {
        color: black;
        text-decoration: underline;
    }
    
    a:focus,
    .btn:focus {
        outline: none;
    }
    /*-----------------------
----- Footer Styles -----
-------------------------*/
    
    #lab_social_icon_footer {
        padding: 30px 0;
        background-color: #dedede;
        background-image: url("/img/Blue-Background-HQ-Desktop-Wallpaper-16270.jpg");
    }
    
    #flex-index {
        background-image: url("../img/Blue-Background-HQ-Desktop-Wallpaper-16270.jpg");
        opacity: 0.9;
        height: 100vh;
    }
    
    .flex-ContainerFooter {
        opacity: 0.9;
        width: 100vw;
    }
    
    .flex-ContainerBlanc1 {
        background-image: url("../img/bg6.jpg");
        opacity: 0.9;
        width: 100vw;
    }
    
    #flex-ContainerBlanc2 {
        background-image: url("../img/bg6.jpg");
        opacity: 1;
    }
    
    #flex-ContainerBlanc3 {
        background-image: url("../img/Blue-Background-HQ-Desktop-Wallpaper-16270.jpg");
        opacity: 0.9;
    }
    
    #flex-ContainerBlanc4 {
        background-image: url("../img/Blue-Background-HQ-Desktop-Wallpaper-16270.jpg");
        opacity: 0.9;
    }
    
    #flex-ContainerBlancMidt {
        background-image: url("../img/bgblo.jpg");
        opacity: 0.9;
        background-position: center;
        width: 100%;
        height: 370px;
        background-size: cover;
    }
    
    #flex-ContainerBlancDidt {
        opacity: 0.9;
        background-position: center;
        width: 100%;
        height: 370px;
        background-size: cover;
    }
    
    #flex-ContainerBlancSidt {
        opacity: 0.9;
        background-position: center;
        width: 100%;
        height: 370px;
        background-size: cover;
    }
    
    #flex-ContainerBlancFidt {
        background-position: center;
        width: 100%;
        height: 370px;
        background-size: cover;
    }
    
    .parallax {
        background-image: url("../img/nr3.jpg");
        */ min-height: 370px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .parallax3 {
        background-image: url("../img/2_Glasses_%5BBlanc%5D_Sharing.jpg");
        min-height: 370px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .parallax4 {
        background-image: url("../img/Glass_Pouring_Beer.png");
        min-height: 370px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .parallax5 {
        background-image: url("../img/bryggeri.jpg");
        min-height: 370px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .parallax6 {
        background-image: url("../img/1queen.jpg");
        min-height: 370px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .parallax7 {
        background-image: url("../img/by.jpg");
        min-height: 370px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .parallax2 {
        /* The image used */
        background-image: url("../img/friends_beach_party_wallpaper.jpg");
        /* Set a specific height */
        min-height: 370px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    /* Forside */
    
    .flex-container {
        display: flex;
    }
    
    .colm {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 54px;
        height: 48px;
        padding: 4px;
    }
    /* Splash */
    
    #flex-splashContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .splashImg {
        width: 100%;
        height: 70vh;
        max-height: 78%;
        object-fit: cover;
        margin-top: -54px;
        z-index: -10;
    }
    
    #splashContainer {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    
    #splashText {
        display: flex;
        flex-direction: column;
    }
    
    #splashText h1 {
        text-align: center;
    }
    
    .flex-containerKontakt {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .flex-containerKontakt a {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    /* Input fields ala Carlsberg */
    
    .InputContainer {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
    
    .inputField {
        width: 73px;
        height: 112px;
        border: 2px solid #369cff;
    }
    
    .ContainerInputfield1,
    .ContainerInputfield2 {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .inputField,
    .inputField {
        font-size: 82px;
        text-align: center;
        color: white;
        background-color: transparent;
        font-family: 'FuturaStd-Light' !important;
        padding: 0px;
    }
    
    .flexIndex .btnSubmit {
        background-color: #eb312c;
        text-align: center;
        padding: 13px;
        border: 0px;
        font-size: 13px;
        font-family: 'FuturaStd-Light' !important;
        font-weight: bold;
        margin-top: 30px;
        color: white;
    }
    
    .error {
        margin-top: 30px;
        font-size: 16;
        color: red;
        text-align: center;
    }
    /* index */
    
    #flex-index {
        display: flex;
        justify-content: center;
    }
    
    .flexIndex {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 60%;
    }
    
    .flexIndex h1 {
        margin-top: 30px;
    }
    
    .flexIndex h4 {
        margin-top: 30px;
    }
    
    .flexIndex img {
        margin-top: 30px;
    }
    
    .flexIndex a {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .flexIndex button {
        font-size: 15px;
    }
    
    .indexMargin {
        margin-top: 100px !important;
        color: white;
    }
    
    .indexHvid {
        color: white;
    }
    /* Kontakt */
    
    #flex-containerKontakt {
        display: flex;
        justify-content: center;
    }
    
    .KontaktContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 60%;
    }
    
    .KontaktContainer h1 {
        margin-top: 30px;
    }
    
    .KontaktContainer h4 {
        margin-top: 30px;
    }
    
    .KontaktContainer img {
        margin-top: 30px;
    }
    
    .KontaktContainer a {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .KontaktContainer button {
        font-size: 15px;
    }
    /* Kontakt */
    
    #flex-containerKontakt {
        display: flex;
        justify-content: center;
    }
    
    .KontaktContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 40%;
    }
    
    @media screen and (max-width: 800px) {
        .KontaktContainer {
            max-width: 80% !important;
        }
    }
    
    .KontaktContainer h1 {
        margin-bottom: -14px;
        margin-top: 82px;
    }
    
    .KontaktContainer h4 {
        margin-top: 30px;
    }
    
    .KontaktContainer img {
        margin-top: 30px;
    }
    
    .KontaktContainer a {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .KontaktContainer button {
        font-size: 15px;
        margin-bottom: 14px;
    }
    /* Blanc0 */
    
    .flex-ContainerBlanc0 {
        display: flex;
        justify-content: center;
    }
    
    .Blanc0Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 40%;
    }
    
    @media screen and (max-width: 800px) {
        .Blanc0Container {
            max-width: 80% !important;
        }
    }
    
    .Blanc0Container h1 {
        margin-bottom: -14px;
        margin-top: 82px;
    }
    
    .Blanc0Container h4 {
        margin-top: 30px;
    }
    
    .Blanc0Container img {
        margin-top: 30px;
    }
    
    .Blanc0Container a {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .Blanc0Container button {
        font-size: 15px;
        margin-bottom: 14px;
    }
    /* Blanc1 */
    
    .flex-ContainerBlanc1 {
        display: flex;
        justify-content: center;
    }
    
    .Blanc1Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 40%;
    }
    
    @media screen and (max-width: 800px) {
        .Blanc1Container {
            max-width: 80% !important;
        }
    }
    
    .Blanc1Container h1 {
        margin-bottom: -14px;
        margin-top: 82px;
    }
    
    .Blanc1Container h4 {
        margin-top: 30px;
    }
    
    .Blanc1Container img {
        margin-top: 30px;
    }
    
    .Blanc1Container a {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .Blanc1Container button {
        font-size: 15px;
        margin-bottom: 14px;
    }
    /* Blanc2 */
    
    #flex-ContainerBlanc2 {
        display: flex;
        justify-content: center;
    }
    
    .Blanc2Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 45%;
    }
    
    @media screen and (max-width: 800px) {
        .Blanc2Container {
            max-width: 80% !important;
        }
    }
    
    .Blanc2Container h1 {
        margin-bottom: -14px;
        margin-top: 82px;
        text-align: center;
        color: #0b3180;
    }
    
    .Blanc2Container h4 {
        margin-top: 30px;
        color: #0b3180;
    }
    
    .Blanc2Container img {
        margin-top: 30px;
    }
    
    .Blanc2Container a {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .Blanc2Container button {
        font-size: 15px;
        margin-bottom: 30px;
        margin-top: -70px;
    }
    /* Blanc3 */
    
    #flex-ContainerBlanc3 {
        display: flex;
        justify-content: center;
    }
    
    .Blanc3Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 40%;
        text-align: center;
    }
    
    @media screen and (max-width: 800px) {
        .Blanc3Container {
            max-width: 80% !important;
        }
    }
    
    .Blanc3Container h1 {
        margin-bottom: -14px;
        margin-top: 82px;
    }
    
    .Blanc3Container h4 {
        margin-top: 30px;
    }
    
    .Blanc3Container img {
        margin-top: 30px;
    }
    
    .Blanc3Container a {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .Blanc3Container button {
        font-size: 15px;
        margin-bottom: 14px;
    }
    /* Blanc4 */
    
    #flex-ContainerBlanc4 {
        display: flex;
        justify-content: center;
    }
    
    .Blanc4Container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 40%;
        text-align: center;
    }
    
    @media screen and (max-width: 800px) {
        .Blanc4Container {
            max-width: 80% !important;
        }
    }
    
    .Blanc4Container h1 {
        margin-bottom: -14px;
        margin-top: 82px;
    }
    
    .Blanc4Container h4 {
        margin-top: 30px;
    }
    
    .Blanc4Container img {
        margin-top: 30px;
    }
    
    .Blanc4Container a {
        margin-top: -20px;
        margin-bottom: 70px;
        color: black;
        text-decoration: none;
    }
    
    .Blanc4Container button {
        font-size: 15px;
        margin-bottom: 14px;
    }
    /* Footer */
    
    #lab_social_icon_footer a {
        color: white;
    }
    
    #lab_social_icon_footer .social:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    
    #lab_social_icon_footer .social {
        -webkit-transform: scale(0.8);
        /* Browser Variations: */
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
    }
    /*
    Multicoloured Hover Variations
*/
    
    #lab_social_icon_footer #social-fb:hover {
        color: #3B5998;
    }
    
    #lab_social_icon_footer #social-tw:hover {
        color: #4099FF;
    }
    
    #lab_social_icon_footer #social-gp:hover {
        color: #d34836;
    }
    
    #lab_social_icon_footer #social-em:hover {
        color: #f39c12;
    }
    
    .copyright p {
        font-size: 13px;
        width: 100%;
        margin-top: 45px;
        text-align: center;
        color: #0b3180;
    }
    
    .Aligner-item h1 {
        margin-top: 20px;
        color: black;
    }
    
    .Aligner-item h4 {
        color: black;
    }
    
    .hvid h4 {
        color: black;
    }
    
    @media screen and (max-width: 1500px) {
        .center {
            height: auto;
            margin-bottom: 8px;
            max-width: 100%;
            min-width: 50% !important;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    
    @media screen and (max-width: 800px) {
        .center {
            height: auto;
            margin-bottom: 8px;
            min-width: 100% !important;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
    
    @media screen and (max-width: 500px) {
        #Blanc1Container {
            max-width: 80% !important;
        }
    }
    
    @media screen and (max-width: 500px) {
        #blanc1 {
            height: 100%;
        }
    }
    
    @media screen and (max-width: 500px) {
        #blanc2 {
            height: 555px;
        }
    }
    
    @media screen and (max-width: 500px) {
        #blanc3 {
            height: 100%;
        }
    }
    
    #test h1,
    h4 {
        margin-top: 30px;
        padding: -5px;
        text-align: center;
        color: black;
        animation: fadein 2s;
        -moz-animation: fadein 2s;
        /* Firefox */
        -webkit-animation: fadein 2s;
        /* Safari and Chrome */
        -o-animation: fadein 2s;
        /* Opera */
    }
    
    #tat {
        margin: -15px 0px 30px !important;
    }
    
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    @-moz-keyframes fadein {
        /* Firefox */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    @-webkit-keyframes fadein {
        /* Safari and Chrome */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    @-o-keyframes fadein {
        /* Opera */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    video {
        width: 100%;
        height: auto;
    }
    
    .sort h4 {
        color: black !important;
    }
    
    @media (max-width: 1500px) {
        #page {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: url('../img/forside_desk.jpg') no-repeat center;
            background-size: cover;
            width: 100%;
            height: auto;
            max-height: 78%;
            margin-top: 4px
        }
    }
    
    @media (max-width: 600px) {
        #page {
            background-position: center -10%;
            max-height: 70%;
            margin-top: 70px;
        }
    }
    
    .hideme {
        opacity: 0;
    }
    
    body {}
    
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
        background-image: url("../img/overlay.jpg");
    }
    
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        transition: 0.3s;
        font-family: 'Kronenbourg1664Italic';
    }
    
    .overlay a:hover,
    .overlay a:focus {
        color: darkgrey;
    }
    
    .overlay .closebtn {
        position: absolute;
        top: -8px;
        right: 10px;
        font-size: 55px;
        color: #0b3180;
    }
    
    @media screen and (max-height: 450px) {
        .overlay a {
            font-size: 20px
        }
        .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }
    
    .hojre {
        position: absolute;
        right: 15px;
        top: 18px;
        color: #0b3180;
    }
    
    .button:hover {
        transform: scale(1.03);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .SoMebutton:hover {
        transform: scale(1.03);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .plads {
        margin-bottom: 70px;
    }
    
    .margin_bund {
        margin-bottom: 100px;
        line-height: 21px;
    }
    /*
    Footer
*/
    
    footer * {
        box-sizing: border-box;
        color: #0b3180;
    }
    
    .flex-ContainerFooter {
        display: flex;
        justify-content: center;
        background-color: white;
    }
    
    .FooterContainer {
        display: flex;
        justify-content: center;
        max-width: 1140px;
    }
    
    .LinkSektion,
    .OmSektion,
    .AddressSektion,
    .SocialeMedieSektion {
        display: flex;
        flex-direction: column;
        width: 25%;
        padding-left: 7%;
        margin-top: 0px;
    }
    
    footer p {
        font-size: 18px;
    }
    
    footer h2 {
        font-size: 28px;
    }
    
    .SocialeMedierContainer {
        display: flex;
    }
    
    @media screen and (max-width: 500px) {
        .FooterContainer {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        .LinkSektion,
        .OmSektion,
        .AddressSektion,
        .SocialeMedieSektion {
            width: 90%;
            padding-left: 0%;
        }
    }
    /*=== Trigger  ===*/
    
    #map {
        width: 100%;
        height: 100%;
    }
    
    .controls {
        position: absolute;
        bottom: 40px;
        left: 0px;
        righT: 0px;
    }
    
    r360-rainbow {
        width: 420px;
        margin: auto;
    }
    
    r360-rainbow label {
        display: inline-block;
        font-size: 13px;
        margin: 0;
        padding: .5rem 0;
        text-align: center;
        color: rgba(255, 255, 255, .8);
    }